.main {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  max-width: 76rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
