.root {
    margin: 0;
    font-family: Lexend Deca;
    font-weight: 300;
    line-height: 1.2;
}

.h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}