.cardLink {
  margin: auto;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000,
    0 0 transparent;
  border-color: var(--text-white-100);
  border-radius: 0.75rem /* 12px */;
}

/* glass-morphism */
.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 6%, 83%, 0.7);
  border: 1px solid #fff;
}
  
.container {
  border-radius: 0.75rem /* 12px */;
  margin: 0.5rem 1rem;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  cursor: pointer;
  column-gap: 1.5rem /* 24px */;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 5px;
  overflow-wrap: break-word;
}
  
.cardHeaderWrapper {
  margin-top: 0.75rem /* 12px */;
  margin-bottom: 0.75rem /* 12px */;
}

.cardHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 800;
  overflow: hidden;
  width: 16rem /* 256px */;
}

.cardImageWrapper {
  color: var(--text-white-100);
}

.cardImage {
  border-radius: 0.75rem /* 12px */;
  width: 100px;
  max-height: 200px;
}
  
@media (min-width: 1024px) {
  .cardHeader {
    width: 16rem /* 256px */;
  }
}

@media (min-width: 768px) {
  .cardHeader {
    width: 16rem /* 256px */;
  }
}