/** HOME.MODULE.CSS **/

/** Mobile first development **/

  
.main {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  max-width: 76rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.list {
  margin-bottom: 3rem;
  display: flex;
  overflow-x: scroll;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/
  
@media (min-width: 640px) {
  .list {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
  
@media (min-width: 768px) {
  .list {
    padding-left: 1.5rem /* 40px */;
    padding-right: 1.5rem /* 40px */;
  }
}

@media (min-width: 1024px) {
  .list {
    padding-left: 1.5rem /* 40px */;
    padding-right: 1.5rem /* 40px */;
  }
}
