
.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.column {
    padding: 5px;
    margin: 0 5px;
}

.wineImage {
    border-radius: 0.75rem /* 12px */;
    width: 300px;
}

@media (min-width: 640px) {
    .main {
      padding-left: .5rem;
      padding-right: .5rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
    
  @media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  
  @media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  