.footer {
    top: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mantine-color-primary-9);
    padding: 15px 20px 20px 20px;
    z-index: 3;
    min-height: 50px;
}