.nav-bar {
    position: sticky;
    top: 0;
    left: auto;
    right: 0;
    background-color: var(--mantine-color-primary-9);
    padding: 5px;
    height: 50px;
    z-index: 1;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    background-color: var(--mantine-color-secondary-9);
    color: white;
    font-size: 24px;
}

.nav-link {
    text-decoration: none;
}